.message {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  gap: 20px;
}

nav {
  display: flex;
  gap: 15px;
  align-items: center;
  /* background-color: lightblue; */
  padding: 15px 0;
}
